body {
    max-width: 600px;
    margin: 0 auto;
    background-color: #AFE1AF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flower {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.petal {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ff99cc;
    border-radius: 50%;
}

.petal:nth-child(1) {
    top: 0;
    left: 25px;
}

.petal:nth-child(2) {
    top: 25px;
    right: 0;
}

.petal:nth-child(3) {
    bottom: 0;
    right: 25px;
}

.petal:nth-child(4) {
    bottom: 25px;
    left: 0;
}

.center {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    background-color: #ffff66;
    border-radius: 50%;
}

h1 {
    text-align: center;
}

#plantForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4eea4;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#plantForm h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#spaceSize {
    width: 100px;
}

button[type="submit"] {
    background-color: #FFC300;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.plant-result {
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #DAF7A6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.plant-result h2 {
    color: #900C3F;
}

.plant-result p {
    color: #333;
}